<!DOCTYPE html>
<head>
  <title>City Weather</title>
  <link rel="stylesheet" href="css/style.css">
  <script src="https://unpkg.com/vue@latest"></script>
  <link rel="shortcut icon" href="./images/favicon.ico" type="image/x-icon">
</head>
<body>
  <a href="admin.html">SALTA a ADMIN</a>
  <main id="app">
    <img v-if="isLoading" src="images/spin.gif" alt="loasding">
    <img v-if="isError" src="images/error.png" alt="error">
    <div v-if="isError == false && isLoading == false" class="weather-summary">
      <h2>{{city}}</h2>
      <img :src='image'>
      <h3>{{temperature}} ºC</h3>
    </div>
    <!-- <label>Nombre: <input type="text" v-model="id" @blur="getCity"></label> -->
    <label>Nombre:
      <select v-model="id" @change="getCity">
        <!-- Opciones del select -->
        <option value="">Seleccione una opción</option>
        <!-- <option value="BIO">Bilbao</option>
        <option value="MAD">Madrid</option>
        <option value="BER">Berlin</option> -->
        <option v-for="city in cities" :value="city.id">{{ city.name}}</option>
      </select>
    </label>
    
    <pre>
      {{$data}}
      {{$cities}}
    </pre>
  </main>
  <script src="app.js"></script>
</body>